pluralsight/ws/xml-jaxb/9/ps-jaxb-34-jaxws-server/ws.wsdl


<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.jesperdj.com/ps-jaxb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.jesperdj.com/ps-jaxb" name="PurchaseOrderService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.jesperdj.com/ps-jaxb" schemaLocation="http://localhost:8080/po?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getOrders">
<part name="parameters" element="tns:getOrders"></part>
</message>
<message name="getOrdersResponse">
<part name="parameters" element="tns:getOrdersResponse"></part>
</message>
<message name="getOrder">
<part name="parameters" element="tns:getOrder"></part>
</message>
<message name="getOrderResponse">
<part name="parameters" element="tns:getOrderResponse"></part>
</message>
<message name="addOrder">
<part name="parameters" element="tns:addOrder"></part>
</message>
<message name="addOrderResponse">
<part name="parameters" element="tns:addOrderResponse"></part>
</message>
<message name="deleteOrder">
<part name="parameters" element="tns:deleteOrder"></part>
</message>
<message name="deleteOrderResponse">
<part name="parameters" element="tns:deleteOrderResponse"></part>
</message>
<portType name="PurchaseOrders">
<operation name="getOrders">
<input wsam:Action="http://www.jesperdj.com/ps-jaxb/PurchaseOrders/getOrdersRequest" message="tns:getOrders"></input>
<output wsam:Action="http://www.jesperdj.com/ps-jaxb/PurchaseOrders/getOrdersResponse" message="tns:getOrdersResponse"></output>
</operation>
<operation name="getOrder">
<input wsam:Action="http://www.jesperdj.com/ps-jaxb/PurchaseOrders/getOrderRequest" message="tns:getOrder"></input>
<output wsam:Action="http://www.jesperdj.com/ps-jaxb/PurchaseOrders/getOrderResponse" message="tns:getOrderResponse"></output>
</operation>
<operation name="addOrder">
<input wsam:Action="http://www.jesperdj.com/ps-jaxb/PurchaseOrders/addOrderRequest" message="tns:addOrder"></input>
<output wsam:Action="http://www.jesperdj.com/ps-jaxb/PurchaseOrders/addOrderResponse" message="tns:addOrderResponse"></output>
</operation>
<operation name="deleteOrder">
<input wsam:Action="http://www.jesperdj.com/ps-jaxb/PurchaseOrders/deleteOrderRequest" message="tns:deleteOrder"></input>
<output wsam:Action="http://www.jesperdj.com/ps-jaxb/PurchaseOrders/deleteOrderResponse" message="tns:deleteOrderResponse"></output>
</operation>
</portType>
<binding name="PurchaseOrderPortBinding" type="tns:PurchaseOrders">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getOrders">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getOrder">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addOrder">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteOrder">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PurchaseOrderService">
<port name="PurchaseOrderPort" binding="tns:PurchaseOrderPortBinding">
<soap:address location="http://localhost:8080/po"></soap:address>
</port>
</service>
</definitions>