pluralsight/ws/xml-fundamentals/5/baseballData.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2012 rel. 2 (x64) (http://www.altova.com)-->
<!ELEMENT yankees (#PCDATA)>
<!ELEMENT white-sox (#PCDATA)>
<!ELEMENT red-sox (#PCDATA)>
<!ELEMENT chicago ((white-sox, cardinals))>
<!ELEMENT cardinals (#PCDATA)>
<!ELEMENT boston ((red-sox, yankees))>
<!ELEMENT baseball-scores ((boston, chicago))>
