pluralsight/ws/xml-jaxb/7/ps-jaxb-27-xmlany-2/inventory.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0"
           targetNamespace="http://www.jesperdj.com/ps-jaxb/inventory"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="productStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="productName" type="xs:string"/>
        <xs:element name="stock" type="xs:int"/>
        <xs:element name="date" type="xs:date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
