pluralsight/ws/xml-fundamentals/3/LineRect.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="line">
    <xs:sequence>
      <xs:element name="length" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rectangle">
    <xs:complexContent>
      <xs:extension base="line">
        <xs:sequence>
          <xs:element name="width" type="xs:double"/>
        </xs:sequence>      
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
