pluralsight/ws/xml-fundamentals/3/Pointr3D2D.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Point3D">
    <xs:sequence>
      <xs:element name="X" type="xs:double"/>
      <xs:element name="Y" type="xs:double"/>
      <xs:element name="Z" type="xs:double" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Point2D">
    <xs:complexContent>
      <xs:restriction base="Point3D">
        <xs:sequence>
          <xs:element name="X" type="xs:double"/>
          <xs:element name="Y" type="xs:double"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
