pluralsight/ws/xml-fundamentals/10/InvoiceSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="urn:accounting/invoice"
xmlns:act="urn:accounting/invoice">
	<xs:element name="invoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="act:customer"/>
				<xs:element ref="act:amount"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="890"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="customer">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Joe"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="amount">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="50.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
